@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  width: 100%;

  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-dashboard{
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: 1fr;
}
.header-dashboard{  
  background-color: white;
}
.aside-dashboard{
  grid-row: 1 / 3;
  background-color: #373f51   ;
}
.main-dashboard{
  background-color: whitesmoke;
  height: fit-content;
  overflow-x: auto;
}
.footer-dashbord{
  
}